<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poqop721.insurance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Insurance"
        android:usesCleartextTraffic="true">>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" android:label="홈"/>
        <activity android:name=".SignUpActivity" android:label="회원가입"/>
        <activity android:name=".FirstTabActivity" android:label="보험 추천받기"/>
        <activity android:name=".SecondTabActivity" android:label="추천 받은 보험"/>
        <activity android:name=".ThirdTabActivity" android:label="전체 보험 상품"/>
        <activity android:name=".FourthTabActivity" android:label="나의 건강정보"/>
        <activity android:name=".FifthTabActivity" android:label="마이페이지"/>
        <activity android:name=".ResultListActivity" android:label="결과 추천 보험"/>
        <activity android:name=".ChangeInfoActivity" android:label="개인 정보 수정"/>

    </application>
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>